main.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://techcrunch.com/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        112,
        0
      ],
      "id": "cc517e91-0917-4943-9ca0-223350678bca",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "d5698064-d5a1-46de-ab90-16cc86a8c9e4",
      "name": "Limit"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a technology research analyst.\nTitle: {{$json.title}}\nContent: {{$json.contentSnippet}}\nReturn: 1. Category 2. 3 sentence summary 3. Importance score /10"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "42d04ff6-9897-438d-bf86-59f7bfb49e99",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "Y2X7oD99U6MtooF8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "c8ceda50-70ed-4d1b-8e6d-f5e0e577f774",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.theverge.com/rss/index.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        112,
        -160
      ],
      "id": "cfd4976a-6bdd-4d35-8fd5-c81174d27a7b",
      "name": "RSS Feed Trigger1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://hnrss.org/frontpage"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        96,
        160
      ],
      "id": "ab0c75c4-c56d-4863-b839-528aab98bf21",
      "name": "RSS Feed Trigger2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Based on these tech news summaries:\n{{ $json.data.map(item => item.content.parts[0].text).join('\\n') }}\n\nIdentify the TOP 3 trending technologies right now.\nFor each explain in 1 sentence why it is trending.\nFormat exactly like this:\n🔥 1. [Technology] — [Why trending]\n🔥 2. [Technology] — [Why trending]\n🔥 3. [Technology] — [Why trending]"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1248,
        0
      ],
      "id": "c756c586-8a3d-48ba-b381-b77c3a7c50ca",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Y2X7oD99U6MtooF8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        0
      ],
      "id": "afa496f8-61b1-413b-8217-97e5e9a7dac0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📰 DAILY TECH REPORT\n===============================\n\n{{ $('Aggregate').first().json.data.map(item => item.content.parts[0].text).join('\\n\\n') }}\n\n===============================\n💡 TOP 3 TRENDING TECHNOLOGIES\n===============================\n\n{{ $json.content.parts[0].text }}\n\n━━━━━━━━━━━━━━━━━━━━\n🤖 Generated by AI Research Agent",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1632,
        64
      ],
      "id": "281233f8-30c1-4aa0-910f-b9202e34d8d6",
      "name": "Discord",
      "webhookId": "34366d43-3441-4785-9465-b98f793eebe3",
      "credentials": {
        "discordWebhookApi": {
          "id": "RLk36jBrVYqJyPFf",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger2": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cdd8cada-5be8-4262-b753-b06720460913",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29fa0ce133ac99ac4f137469f3db96d430869fe4cd492471e0e2ddd5b6c600c5"
  },
  "nodeGroups": [],
  "id": "IDMR6YfSIVU5OEIi",
  "tags": []
}